@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font family: Roboto */
  --font-mono: 'Roboto', sans-serif;

  /* colors */
  --my-light-gray: #f5f7fb;
  --my-dark-gray: #212121;
  --my-blue: #c9d2ea;
  --my-dark-blue: #416edf;
  --my-yellow: #ffce31;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

@layer components {
  .search-bar {
    @apply bg-white shadow-lg text-my-dark-blue px-4 py-5 placeholder-my-dark-blue focus:placeholder-opacity-40;
  }

  .checkbox {
    @apply checked:bg-my-blue;
  }

  /* text styles */
  .text-body {
    @apply text-black font-medium text-base;
  }

  .text-body-lg {
    @apply text-black font-bold text-xl;
  }
}
